VERIFY_TOKEN=الامبراطور
PAGE_ACCESS_TOKEN=EAAXTkGXYLw0BSawwkZCaXuN8ZAiT0z2LFowmQo0NZBLBEaxcZBLcKp3RtJjSK2nWRwyJdZBC85CGTZBI45hQcMqRWQ5LnWGX2Mg3TkVd4ylTwZC3DYdPLWb6tCUJhgyt0DAJfZANPgkxQTcgGrfgmhMJ1pIUyxcoIiOjcMZBZChVHuZBJMPcH6tF6pLMHhWT2F6WEZCLswZDZD
PORT=3000
